# Make sure PATH is set correctly for mpm tool
export PATH="$HOME/.local/share/mise/installs/python/latest/bin/python3:$PATH"


# If you come from bash you might have to change your $PATH.
export PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:$PATH

# Make sure C# and it's tools never pass on telemetry data
# echo "DOTNET_CLI_TELEMETRY_OPTOUT=1" | sudo tee -a /etc/environment
export DOTNET_CLI_TELEMETRY_OUTPUT=1

# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=5000
SAVEHIST=100000

setopt autocd beep nomatch
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/bdavis/.zshrc'

autoload -U +X compinit && compinit
autoload -U +X bashcompinit && bashcompinit
# End of lines added by compinstall

# place to store tool completions in the zsh user space
fpath=(~/.local/share/zsh/completions $fpath)

# Path to your Oh My Zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time Oh My Zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="robbyrussell"

# Set list of themes to pick from when loading at random
# Setting this variable when ZSH_THEME=random will cause zsh to load
# a theme from this variable instead of looking in $ZSH/themes/
# If set to an empty array, this variable will have no effect.
# ZSH_THEME_RANDOM_CANDIDATES=( "robbyrussell" "agnoster" )

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment one of the following lines to change the auto-update behavior
# zstyle ':omz:update' mode disabled  # disable automatic updates
# zstyle ':omz:update' mode auto      # update automatically without asking
# zstyle ':omz:update' mode reminder  # just remind me to update when it's time

# Uncomment the following line to change how often to auto-update (in days).
# zstyle ':omz:update' frequency 13

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS="true"

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# You can also set it to another string to have that shown instead of the default red dots.
# e.g. COMPLETION_WAITING_DOTS="%F{yellow}waiting...%f"
# Caution: this setting can cause issues with multiline prompts in zsh < 5.7.1 (see #5765)
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git)

source $ZSH/oh-my-zsh.sh

# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='nvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch $(uname -m)"

# Set personal aliases, overriding those provided by Oh My Zsh libs,
# plugins, and themes. Aliases can be placed here, though Oh My Zsh
# users are encouraged to define aliases within a top-level file in
# the $ZSH_CUSTOM folder, with .zsh extension. Examples:
# - $ZSH_CUSTOM/aliases.zsh
# - $ZSH_CUSTOM/macos.zsh
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

### Added by Zinit's installer
if [[ ! -f $HOME/.local/share/zinit/zinit.git/zinit.zsh ]]; then
    print -P "%F{33} %F{220}Installing %F{33}ZDHARMA-CONTINUUM%F{220} Initiative Plugin Manager (%F{33}zdharma-continuum/zinit%F{220})…%f"
    command mkdir -p "$HOME/.local/share/zinit" && command chmod g-rwX "$HOME/.local/share/zinit"
    command git clone https://github.com/zdharma-continuum/zinit "$HOME/.local/share/zinit/zinit.git" && \
        print -P "%F{33} %F{34}Installation successful.%f%b" || \
        print -P "%F{160} The clone has failed.%f%b"
fi

source "$HOME/.local/share/zinit/zinit.git/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit


#########################################
### zinit installer chunk and plugins ###
#########################################

# Load a few important annexes, without Turbo
# (this is currently required for annexes)
zinit light-mode for \
    zdharma-continuum/zinit-annex-as-monitor \
    zdharma-continuum/zinit-annex-bin-gem-node \
    zdharma-continuum/zinit-annex-patch-dl \
    zdharma-continuum/zinit-annex-rust

# Load starship theme
# line 1: `starship` binary as command, from github release
# line 2: starship setup at clone(create init.zsh, completion)
# line 3: pull behavior same as clone, source init.zsh
zinit ice as"command" from"gh-r" \
          atclone"./starship init zsh > init.zsh; ./starship completions zsh > _starship" \
          atpull"%atclone" src"init.zsh"
zinit light starship/starship

# Load zsh plugins
zinit light zsh-users/zsh-syntax-highlighting
zinit light zsh-users/zsh-completions
zinit light zsh-users/zsh-autosuggestions

# Add in zsh snippets
zinit snippet OMZL::git.zsh
zinit snippet OMZP::git
zinit snippet OMZP::sudo
zinit snippet OMZP::docker
zinit snippet OMZP::docker-compose
zinit snippet OMZP::ubuntu
zinit snippet OMZP::python
zinit snippet OMZP::pip
# zinit snippet OMZP::pyenv
zinit snippet OMZP::chezmoi
zinit snippet OMZP::aws
zinit snippet OMZP::kubectl
zinit snippet OMZP::kubectx
zinit snippet OMZP::command-not-found

### End of Zinit's installer chunk

## From bashrc
# make man pages use color for easier reading
# shellcheck source=/home/bdavis/.LESS_TERMCAP
source ~/.LESS_TERMCAP
export MANPAGER='less -s -M +Gg'

# set variable identifying the chroot you work in (used in the prompt below)
if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi

# set a fancy prompt (non-color, unless we know we "want" color)
case "$TERM" in
    xterm-color|*-256color) color_prompt=yes;;
esac

# uncomment for a colored prompt, if the terminal has the capability; turned
# off by default to not distract the user: the focus in a terminal window
# should be on the output of commands, not on the prompt
# force_color_prompt=yes

if [ -n "$force_color_prompt" ]; then
    if [ -x {{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}tput ] && tput setaf 1 >&{{ .chezmoi.pathSeparator }}dev{{ .chezmoi.pathSeparator }}null; then
	# We have color support; assume it's compliant with Ecma-48
	# (ISO{{ .chezmoi.pathSeparator }}IEC-6429). (Lack of such support is extremely rare, and such
	# a case would tend to support setf rather than setaf.)
	color_prompt=yes
    else
	color_prompt=
    fi
fi

# if [ "$color_prompt" = yes ]; then
#     PS1='${debian_chroot{{ .chezmoi.pathListSeparator }}+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]{{ .chezmoi.pathListSeparator }}\[\033[01;34m\]\w\[\033[00m\]\$ '
# else
#     PS1='${debian_chroot{{ .chezmoi.pathListSeparator }}+($debian_chroot)}\u@\h{{ .chezmoi.pathListSeparator }}\w\$ '
# fi
# unset color_prompt force_color_prompt

# If this is an xterm set the title to user@host{{ .chezmoi.pathListSeparator }}dir
# case "$TERM" in
# xterm*|rxvt*)
#     PS1="\[\e]0;${debian_chroot{{ .chezmoi.pathListSeparator }}+($debian_chroot)}\u@\h{{ .chezmoi.pathListSeparator }} \w\a\]$PS1"
#     ;;
# *)
#     ;;
# esac

# Alias definitions.
# You may want to put all your additions into a separate {{ .chezmoi.config.mode }} like
# ~{{ .chezmoi.pathSeparator }}.bash_aliases, instead of adding them here directly.
# See {{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}share{{ .chezmoi.pathSeparator }}doc{{ .chezmoi.pathSeparator }}bash-doc{{ .chezmoi.pathSeparator }}examples in the bash-doc package.

if [[ -f ~{{ .chezmoi.pathSeparator }}.bash_aliases ]]; then
    source ~{{ .chezmoi.pathSeparator }}.bash_aliases
fi

# export custom local functions
if [[ -f ~{{ .chezmoi.pathSeparator }}.functions ]]; then
    source ~{{ .chezmoi.pathSeparator }}.functions
fi

# export shaka package manager
export PATH="$HOME{{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}local{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathListSeparator }}$PATH"

# # Created by `pipx` on 2023-03-07 16{{ .chezmoi.pathListSeparator }}42{{ .chezmoi.pathListSeparator }}51
export PATH="{{ .chezmoi.commandDir }}{{ .chezmoi.pathSeparator }}.local{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathListSeparator }}$PATH"
eval "$(register-python-argcomplete pipx)"

# rustup config
. "$HOME{{ .chezmoi.pathSeparator }}.cargo{{ .chezmoi.pathSeparator }}env"
source $HOME{{ .chezmoi.pathSeparator }}.cargo{{ .chezmoi.pathSeparator }}env

# used for cargo build -r command with copes repo
LIBCLANG_PATH=~{{ .chezmoi.pathSeparator }}.cargo{{ .chezmoi.pathSeparator }}registry{{ .chezmoi.pathSeparator }}src{{ .chezmoi.pathSeparator }}index.crates.io-6f17d22bba15001f{{ .chezmoi.pathSeparator }}bindgen-0.61.0{{ .chezmoi.pathSeparator }}.{{ .chezmoi.pathSeparator }}lib.rs{{ .chezmoi.pathListSeparator }}2276{{ .chezmoi.pathListSeparator }}31
RUST_BACKTRACE=1

# Pyenv configuration
[[ -d $PYENV_ROOT{{ .chezmoi.pathSeparator }}bin ]] && export PATH="$PYENV_ROOT{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathListSeparator }}$PATH"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

# # eval "$(~{{ .chezmoi.pathSeparator }}.rbenv{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}rbenv init - zsh)"


# # Enable steam with Vulkan
MANGOHUD=1

### Brew config
# test to make linuxbrew run
# eval "$({{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}brew shellenv)"
eval "$({{ .chezmoi.pathSeparator }}home{{ .chezmoi.pathSeparator }}linuxbrew{{ .chezmoi.pathSeparator }}.linuxbrew{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}brew shellenv)"
# Add new concurrency env for v4.5.0+
export HOMEBREW_DOWNLOAD_CONCURRENCY={{ .chezmoi.config.color }}
# Enables bat for brew cat command output (syntax highlighting and paging)
export HOMEBREW_BAT=on
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_CLEANUP_PERIODIC_FULL_DAYS=7
# If set, always assume --debug when running commands.
# export HOMEBREW_DEBUG=1
# Run brew update once every $HOMEBREW_AUTO_UPDATE_SECS seconds before some commands, e.g. brew install, brew upgrade or brew tap. Alternatively, disable {{ .chezmoi.config.color }}-update entirely with $HOMEBREW_NO_AUTO_UPDATE.
# Default{{ .chezmoi.pathListSeparator }} 86400 (24 hours), 3600 (1 hour) if a developer command has been run or 300 (5 minutes) if $HOMEBREW_NO_INSTALL_FROM_API is set.
export HOMEBREW_AUTO_UPDATE_HOURS=24
export HOMEBREW_AUTO_UPDATE_SECS=$((60*60*${HOMEBREW_AUTO_UPDATE_HOURS{{ .chezmoi.pathListSeparator }}-24}))

# testing MangoHUD settings ...

# Created by `pipx` on 2024-04-09 06{{ .chezmoi.pathListSeparator }}09{{ .chezmoi.pathListSeparator }}58
export PATH="$PATH{{ .chezmoi.pathListSeparator }}{{ .chezmoi.commandDir }}{{ .chezmoi.pathSeparator }}.local{{ .chezmoi.pathSeparator }}bin"

# setup autocomplete for fzf in bash environment
# [ -f ~{{ .chezmoi.pathSeparator }}.fzf.bash ] && source ~{{ .chezmoi.pathSeparator }}.fzf.bash
# eval "$(fzf --bash)"

# Set up fzf key bindings and fuzzy completion
source <(fzf --zsh)

# # setup init for starship prompt
# eval "$(starship init bash)"

# # AI API keys DO NOT SHARE
source ~{{ .chezmoi.pathSeparator }}.config{{ .chezmoi.pathSeparator }}api_keys

# zoxide shell enablement (cd replacement)
eval "$(zoxide init zsh --cmd cd)"

## End of bashrc

# Load mise-en-place programming language environment manager
eval "$(mise activate zsh)"

# Generated for envman. Do not edit.
[ -s "$HOME{{ .chezmoi.pathSeparator }}.config{{ .chezmoi.pathSeparator }}envman{{ .chezmoi.pathSeparator }}load.sh" ] && source "$HOME{{ .chezmoi.pathSeparator }}.config{{ .chezmoi.pathSeparator }}envman{{ .chezmoi.pathSeparator }}load.sh"

source {{ .chezmoi.commandDir }}{{ .chezmoi.pathSeparator }}.config{{ .chezmoi.pathSeparator }}broot{{ .chezmoi.pathSeparator }}launcher{{ .chezmoi.pathSeparator }}bash{{ .chezmoi.pathSeparator }}br

# ROCm setup
# docs{{ .chezmoi.pathListSeparator }} https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}rocm.docs.amd.com{{ .chezmoi.pathSeparator }}projects{{ .chezmoi.pathSeparator }}install-on-{{ .chezmoi.os }}{{ .chezmoi.pathSeparator }}en{{ .chezmoi.pathSeparator }}latest{{ .chezmoi.pathSeparator }}install{{ .chezmoi.pathSeparator }}post-install.html
export PATH=$PATH{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}opt{{ .chezmoi.pathSeparator }}rocm-7.0.1{{ .chezmoi.pathSeparator }}bin
export LD_LIBRARY_PATH={{ .chezmoi.pathSeparator }}opt{{ .chezmoi.pathSeparator }}rocm-7.0.1{{ .chezmoi.pathSeparator }}lib

# more ROCm setup
# source{{ .chezmoi.pathListSeparator }} https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}www.perplexity.ai{{ .chezmoi.pathSeparator }}search{{ .chezmoi.pathSeparator }}remind-me-of-the-different-typ-Uj.Js0XIQneIy61Mu1OW6g#60
# Force ROCm to recognize your 6900XT
export HSA_OVERRIDE_GFX_VERSION=10.3.0
export ROCM_PATH={{ .chezmoi.pathSeparator }}opt{{ .chezmoi.pathSeparator }}rocm  # adjust if you installed elsewhere

# Prevent Ollama from underestimating VRAM
export HIP_VISIBLE_DEVICES=0
export GPU_MAX_HEAP_SIZE=100
export GPU_MAX_ALLOC_PERCENT=100
export OLLAMA_NUM_GPU_LAYERS=25 # Conservative for 16GB VRAM (gemma3{{ .chezmoi.pathListSeparator }}12b needs ~12GB)

# Optional{{ .chezmoi.pathListSeparator }} if you see crashes, reduce memory pressure
export HSA_NO_SCRATCH_RECLAIM=1


