[init]
	defaultBranch = main
	templateDir = {{ .chezmoi.commandDir }}{{ .chezmoi.pathSeparator }}.{{ .chezmoi.config.git.command }}-template
[user]
    email = {{ if hasKey . "email" }}{{ .email | quote }}{{ else }}"bengineerdavis@gmail.com"{{ end }} 
    name = {{ if hasKey . "name" }}{{ .name | quote }}{{ else }}"Ben Davis"{{ end }}
[core]
	editor = code --wait
[commit]
	template = {{ .chezmoi.commandDir }}{{ .chezmoi.pathSeparator }}.commit-message-template
# source {{ .chezmoi.pathListSeparator }} https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}stackoverflow.com{{ .chezmoi.pathSeparator }}a{{ .chezmoi.pathSeparator }}66649559
# linx native (apt) source{{ .chezmoi.pathListSeparator }} 
# https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}stackoverflow.com{{ .chezmoi.pathSeparator }}questions{{ .chezmoi.pathSeparator }}34119866{{ .chezmoi.pathSeparator }}setting-up-and-using-{{ .chezmoi.config.diff.command }}-as-your-{{ .chezmoi.config.git.command }}-difftool-and-mergetool
[merge]
  tool = {{ .chezmoi.config.diff.command }}
[mergetool "{{ .chezmoi.config.diff.command }}"]
  cmd = {{ .chezmoi.config.diff.command }} "$LOCAL" --label=LOCAL "$MERGED" --label=MERGED "$REMOTE" --label=REMOTE --output "$MERGED"
[mergetool]
  prompt = false
  keepBackup = false
  writeToTemp = false
# source{{ .chezmoi.pathListSeparator }} https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}stackoverflow.com{{ .chezmoi.pathSeparator }}a{{ .chezmoi.pathSeparator }}55882069
[diff]
    tool = {{ .chezmoi.config.diff.command }}
[difftool]
    prompt = false
[difftool "{{ .chezmoi.config.diff.command }}"]
    cmd = {{ .chezmoi.config.diff.command }} "$LOCAL" --label=LOCAL "$REMOTE" --label=REMOTE
